<div id="privacy">
  <h3><%= raw t('.title') %></h3>
  <p><%= raw t('.text_p1') %></p>
  <p><%= raw t('.text_p2') %></p>

  <h4><%= raw t('.item_1.title') %></h4>
  <ul>
    <li><%= raw t('.item_1.text_sub_1') %></li>
    <li><%= raw t('.item_1.text_sub_2') %></li>
    <li><%= raw t('.item_1.text_sub_3') %></li>
    <li><%= raw t('.item_1.text_sub_4') %></li>
  </ul>

  <h4><%= raw t('.item_2.title') %></h4>
  <p><%= raw t('.item_2.description') %></p>
  <ul>
    <li><%= raw t('.item_2.text_sub_1') %></li>
    <li><%= raw t('.item_2.text_sub_2') %></li>
    <li><%= raw t('.item_2.text_sub_3') %></li>
  </ul>

  <h4><%= raw t('.item_3.title') %></h4>
  <p><%= raw t('.item_3.description') %></p>
</div>
